.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out, visibility 0.5s;
}

.fadeOut {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.logoWrapper {
    animation: pulse 1.5s infinite ease-in-out;
}

.logo {
    width: 150px;
    /* Adjust size as needed */
    height: auto;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}